<nav>
    {% if USER is defined %}
        <header><h2>{{ USER.firstname }} {{ USER.lastname }}</h2></header>
        <a href="{{ uri('login.logout') }}">{{ _('logout') }}</a>
    {% else %}
        <a href="{{ url('login.cas' ) ~ '?return_url=' ~ REQUEST_URI }}">CAS  {{ _('login') }}</a>
        <a href="{{ url('login.oidc') ~ '?return_url=' ~ REQUEST_URI }}">OIDC {{ _('login') }}</a>
    {% endif %}
</nav>
