{#
 * @copyright 2019-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param string title
 * @param string return_url
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h1>{{ title }}</h1>
    </header>

	<form method="post">
		<fieldset><legend>{{ _('person_info') }}</legend>
			<input name="id" type="hidden" value="{{ id }}" />
            <div class="required">
                <label  for="firstname">{{ _('firstname') }}</label>
                <input name="firstname" id="firstname" value="{{ firstname }}" required="true" />
            </div>
            <div class="required">
                <label  for="lastname">{{ _('lastname') }}</label>
                <input name="lastname" id="lastname" value="{{ lastname }}" required="true" />
            </div>
            <div class="required">
                <label  for="email">{{ _('email') }}</label>
                <input name="email" id="email" value="{{ email }}" required="true" />
            </div>

            <button type="submit" class="save">{{ _('save') }}</button>
            <a href="{{ return_url }}" class="cancel">{{ _('cancel') }}</a>
		</fieldset>
	</form>
</section>
{% endblock %}
