<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}" lang="{{ lang }}">
{{ include('/layouts/partials/head.html.twig') }}

<body class="two-column">
    {{ include('/layouts/partials/header.html.twig') }}
	<main>
        <div id="content-panel" class="panel">
            {% block errorMessages %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
        {{ include('/layouts/partials/panelone.html.twig') }}
	</main>
	{{ include('/layouts/partials/footer.html.twig') }}
</body>
</html>
